.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-form {
  margin-bottom: 20px;
}

.search-form input, .search-form select {
  margin: 0 5px;
  padding: 10px;
  font-size: 16px;
}

.search-form button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.company-table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
}

.company-table th,
.company-table td {
  border: 1px solid #61dafb;
  padding: 10px;
  text-align: left;
}

.company-table th {
  background-color: #61dafb;
  color: #282c34;
}

.company-table td {
  background-color: #fff;
  color: #282c34;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

input[type="range"] {
  width: 100%;
}